<%- include("header") -%>

<%- include("sidebar") -%>
<!-- Section 5 -->
<div class="section-5-container section-container" id="section-5">
  <div class="container">
      <div class="row">
          <div class="col section-5 section-description wow fadeIn">
              <h2>Europa</h2>
              <div class="divider-1 wow fadeInUp"><span></span></div>
              <p>Check them out!</p>
          </div>
      </div>
      <div class="row">

            <div class="col-md-4 section-5-box wow fadeInUp">
            <div class="section-5-box-image"><img src="img/portfolio/korfu.jpg" alt="spain"></div>

            <h3><a href="#">Hiszpania</a> <i class="fas fa-angle-right"></i></h3>
            <div class="section-5-box-date"><i class="far fa-calendar"></i> Wrzesień 2019</div>
            </div>

            <div class="col-md-4 section-5-box wow fadeInUp">
            <div class="section-5-box-image"><img src="img/portfolio/albania.jpg" alt="albania"></div>
            <h3><a href="#">Albania</a> <i class="fas fa-angle-right"></i></h3>
            <div class="section-5-box-date"><i class="far fa-calendar"></i> February 2019</div>
            </div>

            <div class="col-md-4 section-5-box wow fadeInUp">
            <div class="section-5-box-image"><img src="img/portfolio/grecja.jpg" alt="greece"></div>
            <h3><a href="#">Grecja</a> <i class="fas fa-angle-right"></i></h3>
            <div class="section-5-box-date"><i class="far fa-calendar"></i> November 2018</div>
            </div>

            <div class="col-md-4 section-5-box wow fadeInUp">
            <div class="section-5-box-image"><img src="img/portfolio/szwecja.jpg" alt="sweeden"></div>
            <h3><a href="#">Szwecja</a> <i class="fas fa-angle-right"></i></h3>
            <div class="section-5-box-date"><i class="far fa-calendar"></i> November 2018</div>
            </div>

            <div class="col-md-4 section-5-box wow fadeInUp">
            <div class="section-5-box-image"><img src="img/portfolio/niemcy.jpg" alt="deutschland"></div>
            <h3><a href="#">Niemcy</a> <i class="fas fa-angle-right"></i></h3>
            <div class="section-5-box-date"><i class="far fa-calendar"></i> November 2018</div>
            </div>
      </div>
  </div>
</div>
<%- include("footer") -%>
