<%- include("header") %>

<%- include("sidebar") %>


    <!-- Top content -->
    <div class="top-content section-container" id="top-content">
      <div class="container">
        <div class="row">
          <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h1 class="wow fadeIn">Blog podróżniczy <strong>Already Booked</strong></h1>
            <div class="description wow fadeInLeft">
              <p>
                ZAINSPIRUJ SIĘ I ZAPLANUJ SWOJĄ PODRÓŻ!
              </p>
            </div>
          </div>
          <div class="buttons wow fadeInUp justify-content-between w-100">
            <a class="btn btn-primary btn-customized-2 scroll-link" href="#" role="button">
              <i class="fab fa-facebook-f"></i>Facebook
            </a>
            <a class="btn btn-primary btn-customized-2 scroll-link" href="#" role="button">
              <i class="fab fa-instagram"></i>Instagram
            </a>
            <a class="btn btn-primary btn-customized-2 scroll-link">
              <i class="fab fa-youtube"></i>Youtube
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Section 1 -->
  <div class="section-1-container section-container" id="section-1">
    <div class="container">
      <div class="row">
        <div class="col section-1 section-description wow fadeIn">
          <h2>Co znajdziesz na blogu?</h2>
          <div class="divider-1 wow fadeInUp"><span></span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 section-1-box wow fadeInUp">
          <div class="row">
            <div class="col-md-4">
              <div class="section-1-box-icon">
                <i class="fas fa-camera"></i>
              </div>
            </div>
            <div class="col-md-8">
              <h3>Zdjęcia</h3>
              <p>Foto relacje z podróży. Chociaż zdjęcia nie oddają w pełni widoków widzianych "na żywo", ale zachowują Nasze wspomnienia i być może będą inspiracją dla innych.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 section-1-box wow fadeInDown">
          <div class="row">
            <div class="col-md-4">
              <div class="section-1-box-icon">
                <i class="fas fa-tasks"></i>
              </div>
            </div>
            <div class="col-md-8">
              <h3>Recenzje</h3>
              <p>Miejsca, które warto zobaczyć oraz te które zapierają dech w piersi. Plany podróży oraz opinie na temat noclegów i jedzenia wraz z kosztami.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 section-1-box wow fadeInUp">
          <div class="row">
            <div class="col-md-4">
              <div class="section-1-box-icon">
                <i class="fas fa-hand-holding-usd"></i>
              </div>
            </div>
            <div class="col-md-8">
              <h3>Wskazówki</h3>
              <p>Doświadczenia z wymianą walut, wynajmem aut/skuterów, uzyskaniem wiz oraz co warto zabrać ze sobą, jakim sprzętem fotografujemy i filmujemy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Section 2 -->
  <div class="section-2-container section-container section-container-gray-bg" id="section-2">
    <div class="container">
      <div class="row">
        <div class="col section-2 section-description wow fadeIn">
        </div>
      </div>
      <div class="row">
        <div class="col-8 section-2-box wow fadeInLeft">
          <h3>O Nas</h3>
          <p class="medium-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
            Ut wisi enim ad minim veniam, quis nostrud.
            Exerci tation ullamcorper suscipit ut aliquip ex ea commodo consequat.
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl.
          </p>
        </div>
        <div class="col-4 section-2-box wow fadeInUp">
          <img src="/img/about-us.jpg" alt="about-us">
        </div>
      </div>
    </div>
  </div>

  <!-- Section 3 -->
  <!-- <div class="section-3-container section-container" id="section-3">
			        <div class="container">

			            <div class="row">
			                <div class="col section-3 section-description wow fadeIn">
			                    <h2>Our Projects</h2>
			                    <div class="divider-1 wow fadeInUp"><span></span></div>
			                </div>
			            </div>

			            <div class="row">
			                <div class="col-md-6 section-3-box wow fadeInLeft">
			                	<div class="row">
			                		<div class="col-md-3">
			                			<div class="section-3-box-icon">
			                				<i class="fas fa-paperclip"></i>
			                			</div>
			                		</div>
			                		<div class="col-md-9">
			                			<h3>Ut wisi enim ad minim</h3>
				                    	<p>
				                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
				                    		Ut wisi enim ad minim veniam, quis nostrud.
				                    	</p>
			                		</div>
			                	</div>
			                </div>
			                <div class="col-md-6 section-3-box wow fadeInLeft">
			                	<div class="row">
			                		<div class="col-md-3">
			                			<div class="section-3-box-icon">
			                				<i class="fas fa-pencil-alt"></i>
			                			</div>
			                		</div>
			                		<div class="col-md-9">
			                			<h3>Sed do eiusmod tempor</h3>
				                    	<p>
				                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
				                    		Ut wisi enim ad minim veniam, quis nostrud.
				                    	</p>
			                		</div>
			                	</div>
			                </div>
			            </div>

			            <div class="row">
			                <div class="col-md-6 section-3-box wow fadeInLeft">
			                	<div class="row">
			                		<div class="col-md-3">
			                			<div class="section-3-box-icon">
			                				<i class="fas fa-cloud"></i>
			                			</div>
			                		</div>
			                		<div class="col-md-9">
			                			<h3>Quis nostrud exerci tat</h3>
				                    	<p>
				                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
				                    		Ut wisi enim ad minim veniam, quis nostrud.
				                    	</p>
			                		</div>
			                	</div>
			                </div>
			                <div class="col-md-6 section-3-box wow fadeInLeft">
			                	<div class="row">
			                		<div class="col-md-3">
			                			<div class="section-3-box-icon">
			                				<i class="fab fa-google"></i>
			                			</div>
			                		</div>
			                		<div class="col-md-9">
			                			<h3>Minim veniam quis nostrud</h3>
				                    	<p>
				                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
				                    		Ut wisi enim ad minim veniam, quis nostrud.
				                    	</p>
			                		</div>
			                	</div>
			                </div>
			            </div>

			        </div>
		        </div> -->

  <!-- Section 4 -->
  <!-- <div class="section-4-container section-container section-container-image-bg" id="section-4">
			        <div class="container">
			            <div class="row">
			                <div class="col section-4 section-description wow fadeInLeftBig">
			                	<h2>We Think That...</h2>
			                    <p>
			                    	Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
			                    	aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud.
			                    </p>
			                </div>
			            </div>
			            <div class="row">
			            	<div class="col section-bottom-button wow fadeInUp">
		                        <a class="btn btn-primary btn-customized-2 scroll-link" href="#section-6" role="button">
				            		<i class="fas fa-envelope"></i> Contact Us
				            	</a>
			            	</div>
			            </div>
			        </div>
		        </div> -->





  <%- include("footer") -%>
