<!-- Wrapper -->
<div class="wrapper">

<!-- Sidebar -->
<nav class="sidebar">

  <!-- close sidebar menu -->
  <div class="dismiss">
    <i class="fas fa-arrow-left"></i>
  </div>


  <div class="logo">
    <h3><a href="/">Blog podróżniczy</a></h3>
  </div>

  <ul class="list-unstyled menu-elements">
    <li>
      <a class="scroll-link" href="#top-content"><i class="fas fa-home"></i> Home</a>
    </li>
    <li>
      <a class="scroll-link" href="#"><i class="fas fa-cog"></i> Co znajdziesz na blogu?</a>
    </li>
    <li>
      <a class="scroll-link" href="#"><i class="fas fa-user"></i> O nas</a>
    </li>
    <li>
      <a class="scroll-link" href="#europe"><i class="fas fa-pencil-alt"></i> Europa</a>
    </li>
    <li>
      <a class="scroll-link" href="#s"><i class="fas fa-envelope"></i> Azja</a>
    </li>
    <li>
      <a class="scroll-link" href="#"><i class="fas fa-envelope"></i> Afryka</a>
    </li>
    <li>
      <a href="/guides" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle" role="button" aria-controls="otherSections">
        <i class="fas fa-sync"></i>Poradniki
      </a>
      <ul class="collapse list-unstyled" id="otherSections">
        <li>
          <a class="scroll-link" href="#">Wymiana waluty</a>
        </li>
        <li>
          <a class="scroll-link" href="#">Wynajem auta/skutera</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="scroll-link" href="/contact"><i class="fas fa-envelope"></i> Kontakt</a>
    </li>
  </ul>

  <div class="to-top">
    <a class="btn btn-primary btn-customized-3" href="#" role="button">
      <i class="fas fa-arrow-up"></i> Do góry
    </a>
  </div>

</nav>

  <!-- End sidebar -->

  <!-- Dark overlay -->
  <div class="overlay"></div>

  <!-- Content -->
  <div class="content">

    <!-- open sidebar menu -->
    <a class="btn btn-primary btn-customized-2 open-menu" href="#" role="button">
      <i class="fas fa-align-left"></i> <span>Menu</span>
    </a>
